.App {
    text-align: center;
}

.App-logo {
    height: 80px;

    animation: App-logo-spin infinite 20s linear;
}

.App-header {
    height: 150px;
    padding: 20px;

    color: white;
    background-color: #222;
}

.App-title {
    padding-top: 30px;

    font-size: 3em;
}

.App-intro {
    padding-top: 20px;

    font-size: large;
}

.size {
    font-size: 40px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
